@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'Kyiv Type Sans';
    src:
            url("../fonts/kyivtype-sans.ttf") format("ttf"),
            url("../fonts/kyivtype-sans.woff2") format("woff2"),
            url("../fonts/kyivtype-sans.woff") format("woff"),
            url("../fonts/kyivtype-sans.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}

:root {
    --main-color: #575757;
    --secondary-color: #000000;
    --accent-color: #004323;
    --card-bgcolor: #c0c0c0;
    --btn-color: rgba(220, 158, 0, 0.9);
    --btn-color-hover: #DC9E00;
}

/* ---------------- Common styles start ---------------- */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    color: var(--main-color);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 30px;
}

.title {
    font-family: 'Kyiv Type Sans', sans-serif;
    color: var(--secondary-color);
    font-size: 48px;
    text-align: center;
}

.btn {
    font-size: 18px;
    background-color: var(--btn-color);
    padding: 16px 36px;
    border-radius: 10px;
    transition: all .3s ease;
}

.btn:hover {
    background-color: var(--btn-color-hover);
    color: var(--secondary-color);
}

.btn:active {
    transform: translateY(3px);
}

/* ---------------- Common styles end ---------------- */

/* ---------------- Header start ---------------- */

.header__container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    font-size: 18px;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-list__item-link {
    transition: all .5s ease;
    border-bottom: 2px solid rgba(255, 171, 50, 0);
}

.nav-list__item-link:hover {
    color: var(--secondary-color);
    border-color: var(--accent-color);
}

#menuBtn {
    display: none;
    font-size: 35px;
    color: var(--accent-color);
    align-items: center;
    cursor: pointer;
}

/* ---------------- Header end ---------------- */

/* ---------------- Hero start ---------------- */

.hero {
    height: calc(100vh - 100px);
    background-image: url("../img/hero-bg3.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.hero__text {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 230px;
    text-align: center;
    color: #FFF;
}

.hero__title {
    color: #FFF;
}

.hero__text p {
    padding: 30px 0;
    line-height: 30px;
}

.hero__text .btn {
    margin: 20px 0;
}

.hero__arrow {
    padding-bottom: 16px;
}

/* ---------------- Hero end ---------------- */

/* ---------------- About start ---------------- */

.about__title {
    padding: 40px 0;
}

.about__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
}

.about__content-item {
    width: 50%;
}

.about__content-item .thumb-wrap {
    position: relative;
    padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    height: 0;
    overflow: hidden;
}
.about__content-item .thumb-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
}

.about__content-item p {
    line-height: 28px;
}

.about__content-item p:not(:last-child) {
    padding-bottom: 24px;
}

/* ---------------- About end ---------------- */

/*TODO доделать*/
.education,
.events,
.reviews {
    position: relative;
}

/*TODO доделать*/
.education,
.events {
    height: 600px; /* TODO убрать потом */
}

/* ---------------- Education start ---------------- */

.education__leaf:first-child {
    position: absolute;
    right: 0;
}

.education__leaf:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 0;
}

/* ---------------- Education end ---------------- */

/* ---------------- Events start ---------------- */

.events__leaf {
    position: absolute;
    top: 30%;
    right: 0;
    transform: scale(-1, -1);
}

/* ---------------- Events end ---------------- */

/* ---------------- Reviews start ---------------- */

.reviews__leaf {
    position: absolute;
    top: -30%;
    left: 0;
    transform: scale(-1, 1);
}

.reviews__content {
    padding: 20px 0 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.reviews__content-item .thumb-wrap {
    position: relative;
    padding-bottom: 56.25%; /* 56.25% задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    height: 0;
    overflow: hidden;
}

.reviews__content-item .thumb-wrap video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
}

.reviews__content-item p {
    padding-top: 10px;
}

/* ---------------- Reviews end ---------------- */

/* ---------------- Footer start ---------------- */

.footer {
    position: relative;
    background-image: url("../img/footer/footer-bg.jpg");
    height: 300px;
}

.footer:before {
    position: absolute;
    content: "";
    top: 10px;
    left: 50px;
    width: 239px;
    height: 274px;
    background-image: url("../img/footer/footer-gus.png");
    background-repeat: no-repeat;
    background-position: center;
}

.footer:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 230px;
    height: 300px;
    background-image: url("../img/footer/footer-flower.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.footer__container {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 40%;
}

.footer__social-icon {
    width: 38px;
    height: 38px;
    background-color: var(--btn-color-hover);
    border-radius: 8px;
    transition: all .3s ease;
}

.footer__social-icon:not(:last-child) {
    margin-right: 20px;
}

.footer__social-icon .fa-brands {
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 28px;
    color: var(--accent-color);
    transform: translate(-50%, -50%);
    transition: all .3s ease;
}

.footer__social-icon:hover {
    background-color: var(--accent-color);
}

.footer__social-icon .fa-brands:hover {
    color: var(--btn-color-hover);
}

/* ---------------- Footer end ---------------- */
